*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo:hover, .btn:hover, p:hover, .banner-h1:hover, .banner-top:hover {
    background-color: rgba(250, 226, 226, 0.672);
}

header{
    background-color: #FFFFFF;
    /* border: 1px solid red;  */
}


/* body{
    background-color: aqua;
} */

nav{
    max-width: 1600px;
    /* border: 1px solid darkred; */
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 16px 32px;
  
}

.logo{
    max-width: 139px;
    /* border: 1px solid darkred; */
}

.menu{
    width: 365px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.menu p{
    font-size: 16px;
    font-weight: 600;
    color: #000000;  
}

.btn{
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    border: 4px;
    padding: 12px 16px;
    border-radius: 4px; 
    color: #FFFFFF;
    cursor: pointer;
}

#banner {
    background: url(../images/hero-bg.png);  
    padding: 115px 300px;
    
}

.color-green{
    color: #30B868;
}
.color-white{
    color: #ffffffe2;
}

#banner .banner-container{
    /* border: 3px solid darkred; */
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.banner-top{
    /* border: 3px solid darkred; */
    color: #30B868;
    background: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 16px;
    padding: 1px 5px;
    border-radius: 50px; 
    
}
/* .banner-tp{
    justify-content: space-around;
    align-items: center;
    padding: 12px 8px;
    margin: 115px 5px 8px 5px;
    border: 3px solid darkred;

} */
.banner-container .banner-p{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 16px;
}

.local-p{
    /* background-color: #d0d1ed; */
    font-size: 18px;
    margin-bottom: 32px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF; 
    box-sizing: border-box;
}

.banner-button{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.banner-button .banner-btn{
    background-color: #46916500;
    font-size: 16px;
    font-weight: 300;
    /* border: 10px; */
    /* padding: 12px 16px; */
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px; 
    color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
}

#notes{
    /* border: 1px solid red; */
    padding-top: 130px;
}

.notes-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.notes-header{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.notes-p-bold{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.notes-p{
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 44px;
}

.notes-box{
    display: flex;
    gap: 24px;
}

.notes-card{
    padding: 30px;
    /* border: 1px solid red; */
    /* max-width: 267px; */
    
    box-shadow: 0 6px 50px 0 #00000033;
}

.notes-card img{
    padding: 40px 60px 16px 60px; 
}

.notes-card h3{
    color: #001931;
    margin-bottom: 16px;
}

.notes-card p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}


#brain{
    background-color: #F7F6F2;
    padding: 80px 40px; 

}

.brain-container{
    /* border: 3px solid darkred; */
    display: flex; 
    justify-content: space-between;
}

.brain-text{
    /* border: 3px solid darkred; */
    padding: 102px 102px 120px 70px;

}
.text-p1{
    color: #30B868;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 16px;
}

.text-p-bold{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.text-p2{
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    margin-bottom: 40px;
}

.text-list{
    margin-top: 20px;
    line-height: 20px;
    color: #001931;
    font-size: 16px;
    font-weight: bold;

}



#access{
    background-color: #F7F6F2;
    padding: 80px 40px;
    text-align: center;
}

.access-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #ede7eba8;
    text-align: center;
    padding: 131px 157px;
    border-radius: 5px; 
}

.access-container p{
    color: #627382;
    margin-top: 24px;
}

.access-container h1{
    color: #001931;
}

#footer{
    background-color: #001931;
    padding: 120px 60px;
}

#footer .footer-container{
    /* border: 3px solid darkred; */
    display: flex;
    color: rgba(250, 250, 250, 1);
    justify-content: space-between;
    height: 100px;
    align-items: flex-start;  
}

.copy-right{
    color: rgba(250, 250, 250, 1);
    font-style: 400px;
    font-size: 16px;
    /* font-wei: 400; */
    /* line-height: 24px; */
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
}
hr{
    height: .5px;
    border:none ;
    background-color: rgb(244, 244, 235);
}



