*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo:hover, .btn:hover, p:hover, .banner-h1:hover{
    background-color: rgb(247, 175, 175);
}

header{
    background-color: #FFFFFF;
    /* border: 1px solid red;  */
}



body{
    background-color: aqua;
}

nav{
    max-width: 1600px;
    /* border: 1px solid darkred; */
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 16px 32px;
  
}

.logo{
    max-width: 139px;
    /* border: 1px solid darkred; */
}

.menu{
    width: 365px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.menu p{
    font-size: 16px;
    font-weight: 600;
    color: #000000;  
}

.btn{
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    border: 4px;
    padding: 12px 16px;
    border-radius: 4px; 
    color: #FFFFFF;
    cursor: pointer;
}

#banner {
    background: url(../images/hero-bg.png);  
    padding: 115px 500px;
    
}

.color-green{
    color: #30B868;
}

#banner .banner-container{
    /* border: 3px solid darkred; */
    /* margin: 47px 38px 0px 230px; */
    justify-content: space-around;
    align-items: center;
    

    /* width: 71%; */
    /* max-width: 1360px; */
    text-align: center;
}

.banner-top{
    /* border: 3px solid darkred; */
    color: #30B868;
    background: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* width: 300px; */
    margin: 7px 150px 0px 230px;
    /* margin: 14px 560px; */
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 50px; 
    
}
.banner-container .banner-p{
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 16px;

}

.local-p{
    /* background-color: #d0d1ed; */
    font-size: 18px;
    margin-bottom: 32px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF; 
    box-sizing: border-box;
    /* max-width: 1360px; */
    /* text-align: center; */
    /* width: 1360px; */
    /* height: 60px; */
}

.banner-button{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.banner-button .banner-btn{
    background-color: #46916500;
    font-size: 16px;
    font-weight: 600;
    /* border: 10px; */
    padding: 12px 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px; 
    color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
}
#access{
    background-color: #F7F6F2;
    padding: 80px 40px;
    text-align: center;
}

.access-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #ede7eba8;
    text-align: center;
    padding: 131px 157px;
    border-radius: 5px; 
}

.access-container p{
    color: #627382;
    margin-top: 24px;
}

.access-container h1{
    color: #001931;
}

#footer{
    background-color: #001931;
    padding: 120px 120px 60px 120px;
}

#footer .footer-container{
    /* background-color: antiquewhite; */
    display: flex;
    color: rgba(250, 250, 250, 1);
    justify-content: space-between;
    width: 1360px;
    max-width: 1360px;
    height: 100px;
    align-items: flex-start;
    /* gap: 1050px; */    
}

.copy-right{
    color: rgba(250, 250, 250, 1);
    font-style: 400px;
    font-size: 16px;
    /* font-wei: 400; */
    /* line-height: 24px; */
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
}
hr{
    height: .5px;
    border:none ;
    background-color: rgb(244, 244, 235);
}



