*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo:hover, .btn:hover, p:hover{
    background-color: rgb(247, 175, 175);
}

header{
    background-color: #FFFFFF;
    /* border: 1px solid red;  */
}



body{
    background-color: aqua;
}

nav{
    max-width: 1600px;
    /* border: 1px solid darkred; */
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 16px 32px;
  
}

.logo{
    max-width: 139px;
    /* border: 1px solid darkred; */
}

.menu{
    width: 365px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.menu p{
    font-size: 16px;
    font-weight: 600;
    color: #000000;  
}

.btn{
    background-color: #469165;
    font-size: 16;
    font-weight: 600;
    border: 4px;
    padding: 12px 16px;
    border-radius: 4px; 
    color: #FFFFFF;
    cursor: pointer;
}


